body {
    background-image: url(https://cdn.discordapp.com/attachments/795476916932968499/1173584610786033674/img_fundo.png?ex=65647cd7&is=655207d7&hm=bad2f1d32f914c3d9e1a53126dce5f5f2bdc2556fdd4a76c81ad63ade71841b7&);
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: grid;

}

nav {
    background-color: #fd867b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 100%;

}



nav a {
    text-decoration: none;
    color: #000000;
    font-size: 26px;
    font-weight: 600;
    padding: 10px;

}

nav li:hover {
    background-color: #E44737;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.btnnav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
}


.logo {
    vertical-align: middle;
    width: 4rem;
}

.logout {
    display: flex;
}

.logout-img {
    width: 3vw;
}


.img_home{
    width: 16rem;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.img_promo {
   margin: 4%;
}

.entregador {
    padding: 2rem;
}

.centro {
    text-align: center;
}

.btn-home {
    text-decoration: none;
    color: black;
    border-radius: 700px;
    background-color: #E6D3AF;
    font-size: 2rem;
    padding: 10px 25px;
}

.btn-promo {
    width: 45rem;
    padding: 20px;
    display: block;
    margin: 0 auto;
}

.btnnav {
    text-align: center;
}


footer {
    background-color: #fd867b;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

