/* Estilizando a tabela */
body {
    background-image: url(https://cdn.discordapp.com/attachments/795476916932968499/1173584610786033674/img_fundo.png?ex=65647cd7&is=655207d7&hm=bad2f1d32f914c3d9e1a53126dce5f5f2bdc2556fdd4a76c81ad63ade71841b7&);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: linear-gradient(54deg, rgba(255, 160, 59, 1) 0%, rgba(255, 236, 204, 1) 100%);
    border-radius: 10px;
}

h1 {
    text-align: center;
}

th {
    background-color: #fd867b;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d1d0d0;
}

td {
    padding: 10px;
    border-bottom: 1px solid #d1d0d0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #ddd;
}

.btn-pedido {
    font-size: 1.4rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30vw;
    text-align: center;
    display: block;
    margin: 10px auto;
}

.excluir-pedido {
    background-color: rgb(255, 103, 103);
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.editar-pedido {
    background-color: rgb(156, 156, 255);
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.salvar-button {
    background-color: rgb(0, 255, 50);
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.logout-img{
    width: 3vw;
}

footer {
    background-color: #fd867b;
    text-align: center;
    position: relative;
    width: 100%;
}

.editar-produto-select {
    display: none;
}

