@media only screen and (min-width: 320px) and (max-width: 479px) {
    nav {
        width: 100%;
        height: 14rem;
    }

    nav a {
        font-size: 3rem;
        padding: 1.5rem;
    }

    .logo {
        vertical-align: middle;
        width: 4rem;
    }

    .seta {
        width: 20px;
    }

    .promo {
        
        width: 40em;
    }

    .logout {
        width: 2rem;
    }

    .descricao {
        display: block;
        font-size: 2rem;
    }


    main {
        width: 57rem;
    }

    html {
        width: 57rem;
    }

    .items-content {
        width: 90%;
    }

    .items-img {
        width: 20vh;
    }

    .caption {
        font-size: 1.5rem;
    }

    blockquote {
        margin: 0;
        font-size: 1rem;
    }


    .select-pdt_h2,
.all-price_h2,
.div-btn-odr {
    justify-content: center;
    align-items: center;
    display: flex;
}
.card {
    width: 79%;
    background-color: white;
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.nome{
    font-size: 2.4rem;
}

.preco {
    font-size: 1.9rem;
}


.btn-odr {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100vw;
    font-size: 1.4rem;
    cursor: pointer;
    height: 7.9vh;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#mesaSelect {
    display: flex;
    align-items: center;
    width: 50vw;
}

p {
    text-align: center;
}

#cardapio {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.btn_card {
    background-color: #E44737;
    color: white;
    border: none;
    width: 40vw;
    height: 100%;
    transition: .2s;
    font-size: 1.5rem;
}

#tipos {
    border: 1px solid #c9c9c9;
    margin: 0 auto;
    width: 147vw;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

figcaption {
    font-size: 27px;
}

.img_francatu {
    width: 19%;
    height: 61%;
    margin: 7% 0 0 2%;
}

.img_carnsecatu {
    width: 19%;
    height: 61%;
    margin: 7% 0 0 2%;
}
.img_tomasecoru{
    width: 19%;
    height: 61%;
    margin: 7% 0 0 2%;
}
.img_moranchoco{
    width: 19%;
    height: 61%;
    margin: 7% 0 0 2%;
}

.img_marg {
    width: 19%;
    height: 61%;
    margin: 6% 0 0 2%;
}

#comanda {
    padding: 30px;
    border: solid 2px #d1d0d0;
    border-radius: 15px;
    margin: 0 auto;
    width: 139vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}

input[type="text" i] {
    font-size: 1.5rem;
}

.comanda_img {
    width: 51%;
}

input[type="number" i] {
   font-size: 1.5rem;
}
.btnRemove {
    font-size: 1.3rem;
}

#mesa {
    margin: 10px;
    height: 2rem;
    font-size: 1.2rem;
}

.btn_enviar {
    font-size: 1.5rem;
}

footer {
    position: relative;
    height: 15rem;
    width: 100%;
    margin: 16px 0 0;
}

footer p {
    font-size: 2rem;
    padding: 2rem 0 0 0;
}

}
@media (min-width: 480px) and (max-width: 719px) {

    nav {
        width: 100%;
    }

    .logo {
        vertical-align: middle;
        width: 4rem;
    }


    nav ul {
        list-style: none;

    }

    .logout {
        width: 5vw;
    }

    main {
        width: 100vw;
    }

    html {
        width: 100vw;
    }
    .descricao {
        display: block;
        font-size: 2rem;
    }
    .items-content {
        width: 90vw;
    }

    .items-img {
        width: 20vh;
    }

    .caption {
        font-size: 1.3rem;
    }

    blockquote {
        width: 100%;
        margin: 0;
        font-size: 1rem;
    }

    .preco {
        font-size: 0.9rem;
    }

    .button {
        margin: 10px;
    }

}

@media (min-width: 720px) and (max-width: 1023px) {
    nav {
        width: 100%;
        height: 7rem;
        
    }

    .logo {
        vertical-align: middle;
        width: 5rem;
    }


    nav ul {
        list-style: none;

    }

    nav a {
        font-size: 1.5rem;
    }

    .logout-img {
        width: 4vw;
    }

    main {
        width: 100vw;
    }

    html {
        width: 100vw;
    }

    .title-tipos {
        text-align: center;
        font-size: 1.5rem;
    }

    #tipos {
        border: 1px solid #c9c9c9;
        margin: 0 auto;
        width: 95vw;
        overflow-x: auto;
        display: flex;
        justify-content: center;
    }

    .tipo-img {
        width: 15vw;
    }

    .items-content {
        width: 95vw;
    }

    .items-img {
        width: 20vh;
    }

    .caption {
        font-size: 1.5rem;
    }

    .title_cardapio {
        text-align: center;
        font-size: 2.4rem;
    }

    blockquote {
        margin: 0;
        font-size: 1rem;
    }

    .preco {
        font-size: 0.9rem;
    }
     
    .card {
        width: 82%;
        background-color: white;
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }

    .btn_card {
        background-color: #E44737;
        color: white;
        border: none;
        width: 17vw;
        height: 100%;
        transition: .2s;
        font-size: 1.2rem;
    }

    #hora {
        font-size: 1.5rem;
    }

    #comanda {
        padding: 30px;
        border: solid 2px #d1d0d0;
        border-radius: 15px;
        margin: 0 auto;
        width: 48vw;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    input[type="text" i] {
        font-size: 1.1rem;
    }
    
    .comanda_img {
        width: 51%;
    }
    
    #total {
        font-size: 1.5rem;
    }

    input[type="number" i] {
        font-size: 1.1rem;
    }

    .btnRemove {
        font-size: 1.3rem;
    }
    
    .btn_enviar {
        font-size: 1rem;
    }
}  

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    nav {
        width: 100%;
    }

    .logo {
        width: 4rem;
    }

    nav ul {
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: #000000;
        font-size: 26px;
        font-weight: 600;
        padding: 22px;
    }

    .logout-img {
        width: 3vw;
    }

    .tipo-img {
        width: 14vw;
    }

    figcaption {
        font-size: 1.2rem;
    }

    .items-content {
        width: 60vw;
    }

    .items-img {
        width: 20vh;
    }

    .caption {
        font-size: 1.5rem;
    }

    blockquote {
        margin: 0;
        font-size: 1rem;
    }

    .preco {
        font-size: 0.9rem;
    }

    .card {
        width: 46%;
        background-color: white;
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }

    .btn_card {
        background-color: #E44737;
        color: white;
        border: none;
        width: 10vw;
        height: 100%;
        transition: .2s;
        font-size: 1rem;
    }
        
}

@media only screen and (min-width: 1400px) {
     nav {
        width: 100%;
     }

    .logo {
        vertical-align: middle;
        width: 4rem;
    }


    nav ul {
        list-style: none;

    }

    .seta {
        width: 20px;
    }

    .user {
        width: 30px;
    }

    .items-content {
        width: 60vw;
    }

    .items-img {
        width: 20vh;
    }

    .caption {
        font-size: 1.5rem;
    }

    blockquote {
        margin: 0;
        font-size: 1rem;
    }

    .preco {
        font-size: 0.9rem;
    }
}
